<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% include css %>
  <title>Hello, world!</title>
</head>
<body style="background-color: #d9d5d5" >
<div style="background-color: white">
  <h3 style="color: blue;padding-top: 100px;padding-bottom: 40px;box-shadow: gray ;
   padding-left: 120px">Hình nền điện thoại đẹp cho dế yêu của bạn.</h3>
</div>

<div class="container">
<%- include nav %>
<div class="row" style="margin-top: 50px">
  <% for (var i = 0; i < assData.length; i++) { %>
  <div class="col "  style="margin-bottom: 30px">
    <img style="width: 400px;height:auto" src="<%=assData[i].linkPhoto%>">
    <div style="background-color: white;width: 400px;padding: 20px">
      <h3 style=""><%= assData[i].name %></h3>
      <p style=""><%= assData[i].content %></p>
      <p style=""><%= assData[i].date %></p>
    </div>
  </div>
  <% } %>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>